/* Footer.css */
.footer-container {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 20px;  /* Ajustado para un padding más pequeño */
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  /* Centra los elementos verticalmente */
}

.footer-container p {
  margin: 5px 0;
  font-size: 0.8rem;  /* Tamaño de fuente reducido */
}

@media (min-width: 768px) {
  .footer-container {
    flex-direction: column;  /* Mantener la dirección de columna en pantallas medianas */
    padding: 10px 20px;
  }

  .footer-container p {
    margin: 3px 0;
  }
}

@media (min-width: 1024px) {
  .footer-container p {
    font-size: 1rem;  /* Tamaño de fuente ajustado para pantallas grandes */
  }
}


  