.recomendar-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff4e6; /* Fondo en un tono suave de naranja */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3 {
  color: #ff7f50; /* Título en un tono naranja más fuerte */
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.num-recommendations-input {
  width: calc(100% - 22px); /* Ajustar el tamaño del input numérico */
}

button {
  padding: 10px 20px;
  background-color: #ff7f50; /* Botones en tono naranja */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e67345; /* Cambio de color al pasar el mouse */
}

.edit-preferences,
.adoption-form {
  margin-top: 20px;
}

.recommendations-list {
  list-style: none;
  padding: 0;
}

.recommendation-item {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recommendation-image {
  max-width: 100%;
  border-radius: 10px;
}

.adoption-input,
.adoption-textarea {
  width: calc(100% - 22px); /* Ajustar el tamaño de los inputs y textareas */
}

.adoption-form h3 {
  color: #ff7f50;
}

.save-preferences-button,
.edit-preferences-button,
.recommend-button,
.adopt-button,
.submit-adoption-button {
  background-color: #ff7f50;
  color: #fff;
}

.save-preferences-button:hover,
.edit-preferences-button:hover,
.recommend-button:hover,
.adopt-button:hover,
.submit-adoption-button:hover {
  background-color: #e67345;
}


  